<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <div class="training">
    <h1>Table Using JSON SERVER API</h1>
    <hr>
    <table id="users" class="table">
      <thead class="thead-dark back">
      <tr>
        <th *ngFor="let col of columns">{{col}}</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let user of userRestService">
        <td>{{user.id}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.location}}</td>
        <button class="btn btn-info">Edit</button>
        <button class="btn btn-danger">Delete</button>

      </tr>
    </thead>
    </table>
    <button class="btn btn-primary" (click)="insertRecordInJson()">Insert Record</button>
    <!-- <input type="text" [(ngModal)]="recordIdDeleteinJSONServer"> -->
    <button class="btn btn-danger" (click)="recordToDeleteInJSON()">Delete Record</button>
</div>
<div class="training">
  <h1>Assignment</h1>
  <hr>
  <input type="text" class="" placeholder="Search by Policy No"> 
  <table id="insurance" class="table">
    <thead class="thead-dark back">
    <tr>
      <th *ngFor="let col2 of columns2">{{col2}}</th>
    </tr>
    <tr *ngFor="let user2 of userinsurance">
      <td>{{user2.policyNo}}</td>
      <td>{{user2.policyHName}}</td>
      <td>{{user2.policyA}}</td>
      <td>{{user2.amountFEMI}}</td>
      <td>{{user2.NomineeName}}</td>
      <button class="btn btn-info">Edit</button>
    </tr>
    
  </thead>
  </table>
  <button class="btn btn-primary" (click)="insertInsuranceInJson()">Insert Record</button>
  <!-- <input type="number" [(ngModel)]="recordIdDeleteinJSONServer"> -->
  <button class="btn btn-danger" (click)="recordToDeleteinsurance()">Delete Record</button>
</div>


</body>
</html>